  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

  :root {
    --Primary: #1e88e5;
    --Secondary:  #26a69a;
    --Text-c: #f5f5f5 ;
    --Link-c: #90caf9 ;
    --Hover-c: #64b5f6;
  }


  *{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
html{
  scroll-behavior: smooth;
}
  body {
    background-color: #121212;
    color: var(--Text-c);
  }
  



.burger-menu{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
margin-bottom: 50px;
border-bottom: 1px solid var(--Primary);
padding-bottom: 20px;
position: relative;

}

.burger-menu__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  padding: 10px;
  width: 45px;
  height: 40px;
  /* z-index: 1; */
}




.burger-menu__icon {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.burger-menu__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--Text-c);
  position: absolute;
  border-radius: 30px;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.burger-menu__line:nth-child(1) {
  top: 0;
}

.burger-menu__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu__line:nth-child(3) {
  bottom: 0;
}

.burger-menu__button.active .burger-menu__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu__button.active .burger-menu__line:nth-child(2) {
  transform: scale(0);
}

.burger-menu__button.active .burger-menu__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.cont-items{
position: relative;
}

.burger-menu__items {
  position: absolute;
  top: 70px;
  right: -82px;
  height: 25vh;
    display: flex;
    gap: 65px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 1000px;
  background-color:var(--Primary) ;
  box-shadow: 0 2px 5px rgba(103, 98, 98, 0.2);
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  transition: opacity 0.3s ease-in-out, transform 1s;
  /* transform: translateY(-10px); */
  z-index: 1;
}

.burger-menu__items a {
  color: var(--Text-c);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  

  
}

a:hover {
  color: #f00;
}

.main-cont{
  width: 100%;
  /* height: 100vh; */
 
}
.image{
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
.head{
  margin: 20px auto ;
 /* margin-bottom: 100px; */
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1140px;
  /* padding-bottom: 20px; */
  
  /* text-align: center; */
}
.main{
  margin-bottom: 150px;
}
.head h2 {
  margin-bottom: 18px;
  font-size: 35px;
  font-weight: 700;
  color: var(--Primary);
}
.head h3 {
  
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 14px;
  color: var(--Secondary);
}
.head p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 85%;
  line-height: 1.9;
}
.second{
  padding-bottom: 20px;
}


@media (max-width:870px) {
  .image-comp{
    width: 100%;
  }

  .main{
    margin-bottom: 100px;
    margin-top: -10px;
  }

  .burger-menu__items{
    height: 35vh;
    right: 0;
    
  }
  .burger-menu{
    justify-content: space-between;
    padding-left: 15px;
    
  }
  
}

.prm-btn{
  background-color: var(--Primary);
  color: var(--Text-c);
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  border: none;
  font-weight: 500;
  margin-bottom: 40px;
}

.accor{
  padding: 20px;
  margin-bottom: 50px;
}

.acc-title{
  width: 100%;
  /* border: 1px solid var(--Secondary); */
  border: none;
  padding: 15px;
  background-color: transparent;
  color: var(--Text-c);
  text-align: right;
  font-weight: 500;
  font-size: 17px;
  border-radius: 5px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  transform:0.5s ;
}

.accor .acc-body p{
  font-size: 17px;
}

.caty{
  margin-bottom: 20px;
  padding-bottom: 20px; 
  position: relative;
  margin-top: 35px;
}

.caty::after{
  content: "";
  width: 90%;
  height: 2px;
  position: absolute;
  background-color: var(--Secondary);
  bottom: -5px;
  
}

.img-caty{
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

}

.caty a{
  color: var(--Link-c);
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}



.btn-nav{
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  padding: 10px;
  width: 45px;
  height: 40px;
}
.btn-nav:focus{
  outline: none;
}

.logo{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.line{
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--Text-c);
  position: absolute;
  border-radius: 30px;
  left: 0;
  transition:  0.5s;
}
.line:nth-child(1){
  top: 0;
}
.line:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-child(3){
  bottom: 0;
}
.btn-nav.act .line:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.btn-nav.act .line:nth-child(2){
  transform: scale(0);
}

.btn-nav.act .line:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}








.nav-it{
  background-color: var(--Primary);
  color: var(--Text-c);
  width: 300px;
  
  z-index: 10;
  position: absolute;
  top: 100px;
  right: 20%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.nav-it a{
  color: var(--Text-c);
  font-size: 20px;
  font-weight: 500; 
  text-decoration: none;
  
  
}


@media (max-width:850px) {
  .nav-it{
    width: 190px;
    top: 61px;
    right: 0%;  
  }
}

